<section class="">
    <form [formGroup]="myForm">
        <div class="">
            <app-navbar></app-navbar>
        </div>
        <div class="w-full flex flex-col sm:flex-row md:flex-row lg:flex-row">
            <div class="flex flex-col sm:w-3/4 md:w-3/4 lg:w-3/5">
                <div class="mx-4 md:ml-12 lg:ml-24">
                    <textarea type="text" [(ngModel)]="givenText" formControlName="givenText" id="givenTextId" class="form-control w-full h-80v rounded-md p-4 border-t-4 border-blue-600  shadow-lg" (keyup)="textProcessing()" placeholder="Enter text..">
                    </textarea>
                </div>
                <div class="my-6 mx-4 md:ml-12 lg:ml-24">
                    <button mat-raised-button type="button" class="font-bold py-2 px-12 border-b-4 border-gray-400 rounded" (click)="resetForm()">Reset</button>
                </div>
            </div>
            <div class="w-auto sm:w-1/2 md:w-1/2 lg:w-1/2 text-white mx-4 lg:ml-8 md:mr-12 lg:mr-28">
                <div class="flex flex-col md:flex-row lg:flex-row justify-between">
                    <div class="w-full md:w-3/5 lg:w-2/5 mb-6">
                        <p class="text-base sm:text-base md:text-xs lg:text-sm text-white">Highest Frequency No.</p>
                        <div class="flex flex-row h-40 sm:h-52 md:h-52 lg:h-52 items-center bg-white rounded-md border-t-4 border-blue-600 shadow-xl">
                            <div class=" w-full flex justify-center">
                                <p class="text-gray-700 text-7xl font-bold">{{response1}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-3/5 lg:w-3/5 md:px-2 lg:px-2 mb-6">
                        <p class="text-base sm:text-base md:text-xs lg:text-sm text-white">Frequency of specific word</p>
                        <div class="flex flex-row sm:flex-row md:flex-row lg:flex-row h-40 sm:h-52 md:h-52 lg:h-52 px-4 py-4 items-center bg-white rounded-md border-t-4 border-blue-600 shadow-xl">
                            <div class="w-1/2 flex flex-col justify-center ">
                                <mat-form-field>
                                    <input matInput type="text" [(ngModel)]="specifiedWord" formControlName="specifiedWord" id="specifiedWordId" class="form-control p-4" pattern="^[a-zA-Z ]*$" [ngClass]="{ 'is-invalid': findError.specifiedWord.touched && findError.specifiedWord.errors }"
                                        style="color:black;" (keyup)="textProcessing()" placeholder="Enter Word.." />
                                </mat-form-field>
                                <div *ngIf="findError.specifiedWord.touched && findError.specifiedWord.errors" class="invalid-feedback">
                                    <div *ngIf=" findError.specifiedWord.errors" class="text-red-700"> Please Enter Alphabetic Word</div>
                                </div>
                            </div>
                            <div class=" w-1/2 flex justify-center">
                                <p class="text-gray-700 text-7xl font-bold">{{response2}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-6 ">
                    <p class="text-base sm:text-base md:text-xs lg:text-sm text-white">List of N frequent word</p>
                    <div class="flex flex-col sm:flex-col md:flex-col lg:flex-col h-auto sm:h-auto md:h-auto lg:h-auto px-4 py-4 items-center bg-white p-6 rounded-md border-t-4 border-blue-600 shadow-xl">
                        <div class="w-1/2 flex flex-col justify-center ">
                            <mat-form-field class="">
                                <input matInput type="text" [(ngModel)]="mostFrequentN" formControlName="mostFrequentN" id="mostFrequentNId" class="form-control p-4 text-gray-700" style="color:black;" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" [ngClass]="{ 'is-invalid': findError.mostFrequentN.touched && findError.mostFrequentN.errors }"
                                    (keyup)="textProcessing()" placeholder="Enter Number.." />
                            </mat-form-field>
                            <div *ngIf="findError.mostFrequentN.touched && findError.mostFrequentN.errors" class="invalid-feedback">
                                <div *ngIf=" findError.mostFrequentN.errors" class="text-red-700"> Please Enter Number</div>
                            </div>
                        </div>
                        <!-- Paginator-->
                        <div class="pb-6">
                            <mat-table *ngIf="dataSource.data.length" #table [dataSource]="dataSource">

                                <!-- word Column -->
                                <ng-container matColumnDef="word">
                                    <mat-header-cell *matHeaderCellDef> Word </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.word}} </mat-cell>
                                </ng-container>

                                <!-- frequency Column -->
                                <ng-container matColumnDef="frequency">
                                    <mat-header-cell *matHeaderCellDef> Word Frequency </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            </mat-table>

                            <mat-paginator *ngIf="dataSource.data.length" [length]="response3?.length " [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>